*{
    box-sizing: border-box;
}
body{
    background-image:url(../img/Patagonia.jpeg);
}
nav{
    background-color: rgba(5, 0, 0,0.4);
    height: 45px;
    line-height: 30px;
    margin-top: 1em;
    border-radius: 1em;
 
}
nav ul li {
    list-style: none;
}
nav ul li a {
    float: left; /* pone los elementos */
    list-style: none;
    margin: 10px; 
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    
}
.card {
    margin: 1em;
    background: rgba(0, 0, 0, 0.2);
    border: 5px solid rgba(0, 0, 0, 0.4);
    border-radius: 1em;
}
.fw-bold {
    color: white;
}
.btn {
    margin: 1em;
    border-radius: 1em;
}
footer{
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
    text-align: center;
    margin-top: 5em;
}